<header class="mb-4">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Home</a>

      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="dibujos" routerLink="galeria-imagenes/Dibujo">Dibujos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="dibujos" routerLink="galeria-imagenes/Boceto">Bocetos</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="murales" routerLink="galeria-imagenes/Mural">Murales</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="pinturas" routerLink="galeria-imagenes/Pintura">Pinturas</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="poesías" routerLink="galeria-escritos/Poesia">Poesías</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="prosa" routerLink="galeria-escritos/Prosa">Prosa</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
